<div class="links">
  <%= link_to "Sign up", signup_path, :class => "icon new_user" %>
  <%- if global_prefs.can_send_email? -%>
    <%= link_to "I forgot my password", new_password_reminder_path, :class => "icon help" %>
  <%- end -%>             
</div>
