<% unless @people.empty? -%>
  <h2>People</h2>
  <%= will_paginate %>
  <ul class="list people">
    <%= render :partial => @people %>
  </ul>
  <%= will_paginate %>
<% end -%>

<%= render :partial => 'searches/box' %>
