/*
Thanks to Mark James for the fabulous icon set!
http://www.famfamfam.com/lab/icons/silk/
*/

#wrapper {
	width: 792px;
	text-align: left;
	margin: 0 auto;
	background: url(/images/layout/wrapper_background_bottom.jpg) left bottom no-repeat;
	padding-bottom: 24px;
	margin-top:-40px;
  font-size: 93%;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  color: #555;
}
#header {
	width: 792px;	
	height: 161px;
	background: url(/images/layout/new_masthead.jpg) no-repeat;
	position: relative;
}
#body {
	background: url(/images/layout/body_bg.gif) repeat-y;
}
#inner {
	width: 752px;
	margin-left: 23px;
}
#rightcol {
	float: right;
	width: 532px;
}
#sidebar {
	float: left;
	width: 220px;
	padding-bottom: 1.5em;
	background: url(/images/layout/sidebar_top_shadow2.jpg) right top no-repeat;
	position: relative;
	z-index: 50;
	min-height: 391px;
}
#footer {
	clear: both;
/*  margin-top: -3em;*/
	padding: 1em 0 .5em;
	position: relative;
	background: #e7e7e7;
	color: #666;
	margin-left: 23px;
	margin-right: 17px;
	height: 40px;
  font-family: Tahoma,"Trebuchet MS","Lucida Grande",Arial,Verdana,Geneva,Arial,Helvetica,sans-serif;
}
#body > #footer {
	height: auto;
	min-height: 40px;
}

#header h1 a {
	display: block;
	position: absolute;
	height: 130px;
	width: 220px;
	left: 25px;
	top: 50px;
	cursor: pointer;
}
#header h1 span {
	position: absolute;
	left: -1000em;
}
#header #search {
	position: absolute;
	right: 30px;
	bottom: 15px;
	width: 200px;
	text-align: right;
}
#header ul {
	position: absolute;
	right: 0px;
	bottom: 40px;
	width: 120px;
	margin-right: 30px;
}
#header li {
	float: left;
	width: 40px;
}
#header li a {
	display: block;
	height: 14px;
	width: 14px;
}
#header li a span {
	position: absolute;
	left: -1000em;
}
#g-home a {
	background: url(/images/layout/icon_home.gif) center no-repeat;
}
#g-contact a {
	background: url(/images/layout/icon_contact.gif) center no-repeat;
}
#g-search a {
	background: url(/images/layout/icon_search.gif) center no-repeat;
}
#searchquery {
	width: 120px;
}
#header form {
	clear: both;
}
#header input {
	background:#eee;
	border:1px solid #757575;
/*	height: 1.4em;*/
	padding: .1em .2em;
}
#header a {
	display: block;
}

#crumbs {
	text-transform: uppercase;
	padding: .8em 0 0 10px;
	margin-bottom: 3em;
	color: #999;
	font-size: 93%;
}
#crumbs a {
	text-decoration: none;
	color: #999;
}
#crumbs a:hover {
  color: #927F23;
}
#crumbs a, #crumbs span {
  white-space: nowrap;
}

#content {
	clear: both;
	margin: 0 10px 5em;
	position: relative;
}

#education_content {
	clear: both;
	margin: 0 5px 5em;
}
#site-map ul {
	margin-top: .5em;
}
#rightcol-inner > #content {
	margin-bottom: 4em;
}

#header ul, #mainnav, #sidenav, #footernavtop, #footernavbottom {
	list-style: none;
}
#search ul li, #mainnav li, #footernavtop li, #footernavbottom li {
	float: left;
}
#mainnav a, #footernavtop a, #footernavbottom a, #copyright {
	display: block;
	text-align: center;
	padding: 0 .5em;
}

#mainnav {
	background: url(/images/layout/mainnav_background.gif) left bottom repeat-x;
	height: 41px;
	font-size: 107%;
	position: relative;
	margin-bottom: 38px;
	line-height: 38px;
}
#mainnav li {
  list-style: none;
}
#mainnav a {
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
	background: url(/images/layout/mainnav_separator.jpg) left top no-repeat;
	padding: 0 .95em;
	color: #555;
}
#mainnav a:hover {
	color: #927F23;
}
#mainnav li:first-child a {
	background: none;
}

#subnav {
  position: absolute;
  left: 0;
  top: 44px;
  font-size: 85%;
  line-height: 20px;
  width: 532px;
}
#subnav li {
  border-left: 1px solid #dfdfdf;
}
#subnav li:first-child {
  border: none;
}
#subnav a {
  font-weight: normal;
  background: none;
}
#subnav form {
  position: relative;
  padding-left: .95em;
}
#subnav form dl {
  float: left;
}
#subnav form dt {
  position: absolute;
  left: -1000em;
  font-weight: normal;
  text-transform: uppercase;
}
#subnav form dt, #subnav form dd {
  display: inline;
}
#subnav form label {
  font-size: 93%;
  color: #927F23;
}
#subnav form input[type=text] {
  border: 1px solid #bbb;
  width: 115px;
}
#subnav form .buttons {
  float: left;
  margin-left: .5em;
  margin-bottom: 0;
}

.subnav {
  margin: 0;
  padding-bottom: 2em;
}
.subnav li {
  float: left;
  list-style: none;
  margin-left: 1em;
  padding-left: 1em;
  border-left: 1px solid #ddd;
}
.subnav li:first-child {
  margin-left: 0;
  border-left: 0;
  padding-left: 0;
}
.subnav li a {
  display: block;
}

#sidebar-inner * {
	margin-left: 15px;
	margin-right: 20px;
	padding-right: 7px;
}
#sidebar-inner * * {
	margin-left: 0;
	margin-right: 0;
	padding-right: 0;
}
#sidebar-inner > div:first-child h2 {
  margin-top: .2em;
}

#sidebar h2 {
	padding: 10px 20px 8px 0;
	margin: 2em 0 .75em 0;
  border-bottom: 1px solid #b8b8b8;
}

a.andy {
	text-decoration:none;
}

#sidebar ul {
	margin-left: 30px;
}
#sidebar li {
	margin-bottom: .5em;
}
ul#sidenav {
	margin-left: 20px;
}
#sidenav li {
	margin-bottom: .1em;
}
#sidenav a {
	display: block;
	height: 33px;
	padding-top: .7em;
	text-indent: 48px;
	font-weight: bold;
	color: #460044;
}
#sidenav a:hover {
	color: #927F23;
}
#sidenav li > a {
	height: auto;
	min-height: 33px;
}
#s-sports {
	background: url(/images/layout/leftnav_sports.jpg) top left no-repeat;
	position: relative;
}
#s-spine {
	background: url(/images/layout/leftnav_spine.jpg) no-repeat top left;
	position: relative;
}
#s-joint {
	background: url(/images/layout/leftnav_totaljoint.jpg) no-repeat top left;
	position: relative;
}
#s-trauma {
	background: url(/images/layout/leftnav_trauma.jpg) no-repeat top left;
	position: relative;
}
#s-foot {
	background: url(/images/layout/leftnav_footandankle.jpg) no-repeat top left;
	position: relative;
}
#s-hand {
	background: url(/images/layout/leftnav_hand.jpg) no-repeat top left;
	position: relative;
}

#footer img {
	float: right;
	margin-right: 10px;
}
#sidebar-bottom {
	height: 240px;
	width: 219px;
	position: absolute;
	top: -188px;
	left: 0;
/*  margin-top: 48px;*/
	background: url(/images/layout/sidebar_bottom_shadow.jpg) bottom right no-repeat;
	z-index: 1;
}
#footer ul {
	margin: 0 0 0 225px;
	clear: left;
}
#footer li {
  list-style: none;
}
#footernavtop {
  font-size: 93%;
}
#footernavbottom {
  font-size: 85%;
}
#footer > #footernavbottom {
	padding-top: 5px;
}
#footernavtop li a, #footernavbottom li a {
	border-left: 1px solid #bbb;
	color: #666;
	text-decoration: none;
}
#footernavtop li:first-child a, #footernavbottom li:first-child a, #footernavtop li.first a, #footernavbottom li.first a, #footernavbottom #copyright {
	border-left: none;
	margin-left: 0;
	padding-left: 0;
}
#footer a:hover {
	text-decoration: underline;
}
#disclaimer {
  border-top: 1px solid #ddd;
  background: url(/images/famfamfam/asterisk_orange.png) left 16px no-repeat;
  padding: 10px 0 10px 24px;
  margin: 5em 0;
}
#disclaimer p {
  margin: .5em 0;
}


form dl, form dt, form dd {
  margin: 0;
  padding: 0;
}


.date_update {
	padding: 0 10px 2.5em 0;
	text-align: right;
	font-style: italic;
}
.access {
	position: absolute;
	left: -1000em;
}
.clear {
  clear: both;
  height: 0;
}
.noheight {
	height: 0;
}

#content ul.posts {
  margin-left: 2em;
}