<h1><%= h @blog.person.name %>'s Blog</h1>


<%- if current_person?(@blog.person) -%>
  <p style="margin-bottom: 3em"><%= link_to "New blog post", new_person_blog_post_path(@blog.person, @blog), :class => "icon page_add" %></p>
<%- end -%> 

<%- if @posts.empty? -%>
  <h2 class="blankslate">
    No blog posts (yet)
  </h2> 
<%- else -%>
  <ul class="list blog full">
    <%- @posts.each do |post| -%>
      <li class="post"><%= render :partial => 'posts/blog_post', :object => post %></li>
    <%- end -%>
  </ul>
<%- end -%>

<%= will_paginate(@posts) %>
