<div id="crumbs" class="clear">
  &#187; <%= link_to "Home", "http://www.panoramaortho.com" %>
  &#187; <%= link_to_unless_current "Blogs", home_path %>
  <%= debug collection_path %>
</div> <!-- #crumbs -->
