<div id="footer">
	<div id="sidebar-bottom">&nbsp;</div>
  <ul id="footernavtop">
    <li><a href="http://www.panoramaortho.com/about-panorama.html">About Panorama</a></li>
    <li><a href="http://www.panoramaortho.com/physicians.html">Physicians</a></li>
    <li><a href="http://www.panoramaortho.com/patient-information.html">Patient Information</a></li>
    <li><a href="http://www.panoramaortho.com/help/contact.html">Contact</a></li>
    <li><a href="http://www.panoramaortho.com/help/site-map.html">Site Map</a></li>
  </ul>

  <a href="http://www.panoramafoundation.org/" target="_blank"><img src="/images/layout/footer_logo.gif" width="128" height="83" alt="Panorama Research &amp; Education Foundation" title="Panorama Research &amp; Education Foundation" /></a>

  <ul id="footernavbottom">
    <li class="first"><span id="copyright">www.panoramaortho.com &copy; 2009</span></li>
    <li><a href="http://www.panoramaortho.com/help/privacy-policy.html">Privacy Policy</a></li> <li><a href="http://www.panoramaortho.com/help/terms-of-use.html">Terms of Use</a></li>
  </ul>


	<div class="clear">&nbsp;</div>
</div>
