<ul id="profile_nav" class="subnav">
  <li><%= link_to "Profile", person_path(@person) %></li>
  <li><%= link_to "Blog", person_blog_path(@person, @person.blog) %></li>
  <li><%= link_to "Photo Galleries", person_galleries_path(@person) %></li>
  <%- if (current_person?(@person) or Connection.connected?(@person, current_person)) -%>
    <li><%= link_to "Friends", person_connections_path(@person) %></li>
  <%- end -%>
</ul>
<div class="clear"></div>