<%- recent_photos = Photo.recent_photos -%>

<%- unless recent_photos.blank? -%>
  <div id="recent_photos">
    <h2>Recent Photos</h2>
    <ul>
      <%- recent_photos.each do |photo| -%>
        <li class="<%= cycle('first', '', '') %>">
          <%= link_to image_tag(photo.public_filename(:recent_photo), :alt => photo.title, :title => photo.title, :size => "50x50"), person_gallery_path(photo.gallery.person, photo.gallery, :anchor => "photo_#{photo.id}") %>
        </li>
      <%- end -%>
    </ul>
    <div class="clear"></div>
    <div class="more"><%= link_to "View more &raquo;", photos_path %></div>
  </div> <!-- #recent_photos -->
<%- end -%>