<%- recent_posts = BlogPost.recent_posts -%>
<%- unless recent_posts.blank? -%>
  <div id="recent_posts">
    <h2>Recent Posts</h2>
    <ul>
      <%- recent_posts.each do |post| -%>
        <li><%= link_to post.title, person_blog_post_path(post.blog.person, post.blog, post) %></li>
      <%- end -%>
    </ul>
    <div class="more"><%= link_to "View more &raquo;", posts_path %></div>
  </div> <!-- #recent_posts -->
<%- end -%>