<%- unless @intro.blank? -%>
  <h1><%= sanitize(@intro.title) %></h1>
  <%= display @intro.body %>

  <div class="hr"></div>
<%- end -%>

<%- @featured_posts.each do |post| -%>
  <%- if post.position == 1 -%>
    <!-- start main featured post -->
    <%= render :partial => "main_featured_post", :locals => {:post => post} %>
    <!-- end main featured post -->
    <div class="hr"></div>
  <%- elsif post.position == 2 or post.position == 3 -%>
    <% klass = cycle("left", "right", :name => "secondary_featured_post") %>
    <!-- start secondary featured post -->
    <%= render :partial => "secondary_featured_post", :locals => {:post => post, :klass => klass} %>
    <!-- end secondary featured post -->
  <%- end -%>
<%- end -%>
<div class="clear">&nbsp;</div>
