<div class="admin_actions">
  <%= link_to image_tag("famfamfam/accept.png", :title => "Accept this post", :alt => "Accept this post"), accept_admin_post_path(object, :model => object.class), :method => :post unless !object.tainted %>
  <%= link_to image_tag("famfamfam/cross.png", :title => "Reject this post", :alt => "Reject this post"), reject_admin_post_path(object, :model => object.class), :method => :post, :confirm => "Are you sure?" unless object.rejected? %>
  <%= link_to image_tag("famfamfam/cancel.png", :title => "Reject this post and deactivate the author's account", :alt => "Reject this post and deactivate the author's account"), reject_and_deactivate_admin_post_path(object, :model => object.class), :method => :post, :confirm => "Are you sure?\nThis will cause the user's account to be deactivated." unless object.rejected? %>
</div>