<div class="admin_layout">
  <%= link_to_unless((post.featured? && post.position == 1), image_tag("famfamfam/layout_primary.png", :title => "Make primary article on home page", :alt => "Make primary article on home page"), make_featured_admin_post_path(post, :position => 1), :method => :post) %>
  <%= link_to_unless((post.featured? && post.position == 2), image_tag("famfamfam/layout_secondary_left.png", :title => "Make secondary left article on home page", :alt => "Make secondary left article on home page"), make_featured_admin_post_path(post, :position => 2), :method => :post) %>
  <%= link_to_unless((post.featured? && post.position == 3), image_tag("famfamfam/layout_secondary_right.png", :title => "Make secondary right article on home page", :alt => "Make secondary right article on home page"), make_featured_admin_post_path(post, :position => 3), :method => :post) %>
  <%= link_to image_tag("famfamfam/layout_not_featured.png", :title => "Un-feature this article", :alt => "Un-feature this article"), make_featured_admin_post_path(post, :position => nil), :method => :post unless !post.featured? %>
</div>