<div class="search">
  <h2>Search</h2>
  <%- form_tag searches_path, :method => :get, :id => "frmSearch" do -%>
    <dl>
      <dt><label for="q">Search <%= search_type %></label></dt>
      <dd><%= text_field_tag :q, h(params[:q]), :id => "txtSearch", :class => "txt", :maxlength => 50 %></dd>
    </dl>
    <div class="clear"></div>
    <div class="buttons">
      <%= hidden_field_tag "model", search_model %>
      <%= submit_tag "Search", :name => nil, :id => "btnSearch", :class => "button"  %>
    </div>
  <%- end -%>
</div> <!-- .search -->