<h1>Photos</h1>
<% if !@photos.empty? %>
  <ul class="grid photos">
    <%= render :partial=>"shared/photo", :collection => @photos %>
  </ul>
  <div class="clear"></div>
  <%= will_paginate @photos %>
<% else %>
  <p><strong>No Photos to Show</strong></p>
<% end %>
