<%- column_div :type => :primary do -%>
  <h2>Edit gallery</h2>

  <%- form_for(@gallery) do |f| -%>
    <%= render :partial => "form", :locals => {:form => f} %>
    <div class="form_row">
      <%= f.submit "Update", :class => 'button' %>
      <%= link_to "Cancel", @gallery, :class => "button" %>
    </div>
  <%- end -%>
<%- end -%>