<h2>New gallery</h2>

<%- form_for(@gallery) do |f| -%>
  <%= render :partial => "form", :locals => {:form => f} %>
  <div class="buttons">
    <%= f.submit "Create", :class => "button" %>
    <%= link_to "Cancel", person_galleries_path(current_person) %>
  </div>
<%- end -%>
